<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund:wght@100;400&display=swap" rel="stylesheet">
    <title>Iniciando sesión</title>
    <link rel="icon" href="/img/ut-logo.png">
    <style>
        :root {
            --primary-color: #4aa282;
        }
    </style>
</head>
<body class="bg-gray-100 flex items-center justify-center h-screen p-4">
    <div class="bg-white p-8 rounded-lg shadow-md w-full max-w-md">
        <h1 class="text-3xl font-bold text-center mb-6 text-[var(--primary-color)]">Inicio de sesión</h1>
        <form id="loginForm">
            <div class="mb-4 flex items-center">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user" width="24" height="24"
                    viewBox="0 0 24 24" stroke-width="2" stroke="#000000" fill="none" stroke-linecap="round"
                    stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0" />
                    <path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" />
                </svg>
                <input type="text" name="username" placeholder="Matrícula" required
                    class="ml-3 p-2 w-full border border-gray-300 rounded focus:outline-none focus:border-[var(--primary-color)] text-sm sm:text-base">
            </div>
            <div class="mb-4 flex items-center">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-eye-question" width="24"
                    height="24" viewBox="0 0 24 24" stroke-width="2" stroke="#000000" fill="none" stroke-linecap="round"
                    stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M10 12a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" />
                    <path
                        d="M14.071 17.764a8.989 8.989 0 0 1 -2.071 .236c-3.6 0 -6.6 -2 -9 -6c2.4 -4 5.4 -6 9 -6c3.346 0 6.173 1.727 8.482 5.182" />
                    <path d="M19 22v.01" />
                    <path d="M19 19a2.003 2.003 0 0 0 .914 -3.782a1.98 1.98 0 0 0 -2.414 .483" />
                </svg>
                <input type="password" name="password" placeholder="Contraseña" required
                    class="ml-3 p-2 w-full border border-gray-300 rounded focus:outline-none focus:border-[var(--primary-color)] text-sm sm:text-base">
            </div>
            <div class="mb-4 text-right">
                <a href="/user/login_pass" class="text-[var(--primary-color)] hover:underline text-sm sm:text-base">¿Olvidaste tu contraseña?</a>
            </div>
            <div class="mb-4">
                <button type="submit" class="w-full p-2 bg-[var(--primary-color)] text-white rounded hover:bg-opacity-90 transition duration-300 text-sm sm:text-base">Iniciar sesión</button>
            </div>
            <div class="text-center">
                <span class="text-sm sm:text-base">¿Aun no tienes una cuenta?</span>
                <a href="/user/register" class="text-[var(--primary-color)] hover:underline text-sm sm:text-base">Registrarse</a>
            </div>
        </form>
    </div>
    <script>
        document.getElementById('loginForm').addEventListener('submit', async function(event) {
            event.preventDefault();
            const formData = new FormData(event.target);
            const response = await fetch('/user/login', {
                method: 'POST',
                body: new URLSearchParams(formData),
            });
            const result = await response.json();
            if (response.ok) {
                window.location.href = result.redirect_url;
            } else {
                alert('Inicio de sesión fallido');
            }
        });
    </script>
</body>
</html>
