<nav class="bg-blue-500 p-4">
    <div class="container mx-auto flex justify-between items-center">
        <a href="/" class="text-white text-lg font-semibold">DASHBOARD EXTRACURRICULARES UT </a>
        <div>
            <a href="/dashboard/users" class="text-white mx-2">Usuarios</a>
            <a href="/dashboard/categories" class="text-white mx-2">Categorías</a>
            <a href="/dashboard/clubs" class="text-white mx-2">Clubs</a>
        </div>
    </div>
</nav>