<nav class="flex flex-wrap items-center justify-between p-4 shadow-lg bg-white">
    <a href="/" class="flex items-center mb-2 sm:mb-0">
        <h2 class="text-xl font-extrabold text-[#4aa282] ml-4">Extracurriculares UT</h2>
    </a>
    <button class="block sm:hidden text-[#4aa282] focus:outline-none" id="menu-button">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-menu-2" width="32" height="32" viewBox="0 0 24 24" stroke-width="2" stroke="#4aa282" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M4 6h16" />
            <path d="M4 12h16" />
            <path d="M4 18h16" />
        </svg>
    </button>
    <div class="hidden w-full sm:flex sm:items-center sm:w-auto" id="menu">
        <div class="flex flex-col sm:flex-row sm:space-x-8 p-5 sm:p-0 w-full sm:w-auto">
            <a href="/user/support" class="flex items-center mb-2 sm:mb-0 text-[#4aa282] text-lg font-semibold transition-colors duration-300 hover:text-green-700">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-lifebuoy hover:stroke-green-500" width="32" height="32" viewBox="0 0 24 24" stroke-width="2" stroke="#4aa282" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M12 12m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0" />
                    <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" />
                    <path d="M15 15l3.35 3.35" />
                    <path d="M9 15l-3.35 3.35" />
                    <path d="M5.65 5.65l3.35 3.35" />
                    <path d="M18.35 5.65l-3.35 3.35" />
                </svg>
                <span class="ml-2 font-bold">Soporte</span>
            </a>
            <a href="/user/login" class="flex items-center text-[#4aa282] text-lg font-semibold transition-colors duration-300 hover:text-green-700">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user-circle hover:stroke-green-500" width="32" height="32" viewBox="0 0 24 24" stroke-width="2" stroke="#4aa282" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" />
                    <path d="M12 10m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" />
                    <path d="M6.168 18.849a4 4 0 0 1 3.832 -2.849h4a4 4 0 0 1 3.834 2.855" />
                </svg>
               {% if user %}
                    <div class="flex gap-5 items-center">
                        <p class="ml-2 font-bold">Bienvenido, {{ user.firstname }}!</p>
                        <form action="/user/logout" method="GET">
                            <button type="submit" class="text-white bg-[#4aa282] rounded-md font-bold text-md px-5 py-1">
                                Cerrar Sesion
                            </button>
                        </form>
                    </div>
                {% else %}
                    <span class="ml-2 font-bold">Ingresar</span>
                {% endif %}
            </a>
        </div>
    </div>
</nav>

<script>
    document.getElementById('menu-button').addEventListener('click', function() {
        document.getElementById('menu').classList.toggle('hidden');
    });
</script>

<style>
    .hover\:stroke:hover {
        stroke: #4aa282;
    }
</style>