<nav class="flex justify-between items-center shadow-lg bg-white p-4">
    <a href="/" class="flex items-center">
        <h2 class="text-xl font-extrabold text-[#4aa282] ml-4">Extracurriculares UT</h2>
    </a>
    <div class="flex space-x-8 p-5">
        <div class="flex items-center">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-lifebuoy" width="32" height="32" viewBox="0 0 24 24" stroke-width="2" stroke="#4aa282" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M12 12m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0" />
                <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" />
                <path d="M15 15l3.35 3.35" />
                <path d="M9 15l-3.35 3.35" />
                <path d="M5.65 5.65l3.35 3.35" />
                <path d="M18.35 5.65l-3.35 3.35" />
            </svg>
            <a href="/pages/user/support.html" class="text-[#4aa282] text-lg font-semibold transition-colors duration-300 hover:text-green-500 ml-2">Soporte</a>
        </div>
        <div class="flex items-center">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user-circle" width="32" height="32" viewBox="0 0 24 24" stroke-width="2" stroke="#4aa282" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" />
                <path d="M12 10m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" />
                <path d="M6.168 18.849a4 4 0 0 1 3.832 -2.849h4a4 4 0 0 1 3.834 2.855" />
            </svg>
            <a href="/pages/user/login.html" class="text-[#4aa282] text-lg font-semibold transition-colors duration-300 hover:text-green-500 ml-2">Ingresar</a>
        </div>
    </div>
</nav>